<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Mi Banco</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Barra de navegación -->
<div th:replace="fragments/nav :: navbar(active=${activeMenu})"></div>

<main>
    <!-- Aquí se inserta el contenido de cada página -->
    <div th:replace="${content}"></div> <!-- Esto se reemplazará con el contenido específico de cada página -->
</main>
</body>
</html>